<% provide(:about, "active") %>
<% provide(:title, "About") %>
<% provide(:enabled_examples, 'false') %>
<div class="row" style="margin-top: 60px;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <p>Author: Alex Zhevlakov &copy;</p></div>
</div>
