<!-- <h1>Recipes#index</h1>
<p>Find me in app/views/recipes/index.html.erb</p> -->
<h1>Searching for - <%= @search_term %></h1>

<table border="1">
	<tr>
		<th>Image</th>
		<th>Name</th>
		<th>Ingredients</th>
	</tr>
	<% @recipes.each do |recipe| %>
		<tr>
			<td><%= image_tag(recipe["image_url"]) %></td>
			<td><%= recipe["title"] %></td>
			<td><%= recipe["ingredients"] %></td>
		</tr>
	<% end %>
</table>
