<ul class="thumbnails" style="list-style: none;">
  <li class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://lorempixel.com/150/100/food/7" />
    </a>
  </li>
  <li class="col-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://lorempixel.com/150/100/food/5" />
    </a>
  </li>
  <li class="ccol-sm-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://lorempixel.com/150/100/food/6" />
    </a>
  </li>
</ul>
